@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@import url('https://fonts.maateen.me/kalpurush/font.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  font-family: 'Kalpurush', Arial, sans-serif !important;
}
.font-english {
  font-family: sans-serif;
}

.home-bg {
  background-image: url('/home-bg.png');
}

.examOne.active {
  background-color: #a2dcff;
}
.examTwo.active {
  background-color: #a2dcff;
}
.examThree.active {
  background-color: #a2dcff;
}
.examButton.active {
  background-color: #159b10;
}
.nextButton.active {
  background-color: #0067a6;
  color: white;
}
.header-dropdown {
  display: none;
}
.user:hover .header-dropdown {
  display: block;
}
.profile.active,
.password-change.active,
.settings.active {
  color: #5aadff;
}
.profile.active::before,
.password-change.active::before,
.settings.active::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f111';
  font-size: 0.65rem;
  margin-right: 1rem;
  position: absolute;
  left: -1.5rem;
}
@media (max-width: 640px) {
  .header-dropdown {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  .navbar-hidden {
    transform: translateX(100%);
    transition: transform 500ms;
  }
  .navbar-show {
    transform: translateX(0);
    transition: transform 500ms;
  }
}
